body {
    background: white;
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, arial, sans-serif;
    font-size: 18px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

label {
    float: left;
    width: 4em;
}

input {
    font-family: monospace;
    font-size: 17px;
}

table {
    margin-top: 40px;
    border-collapse: collapse;
}

th {
    border: 1px solid #ccc;
}

.colour-block {
    width: 7em;
    background-color: #eee;
    color: white;
}

.colour-block p {
    height: 4em;
    margin: 10px;
    padding: 10px;
    text-align: center;
    line-height: 1.4;
}

#text-display {
    font-size: 14px;
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    color: white;
}

#text-display a {
    color: #bbf;
    text-decoration: none;
}
