body {
    background: white;
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, arial, sans-serif;
    font-size: 18px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

label {
    float: left;
    width: 4em;
}

input {
    font-family: monospace;
    font-size: 17px;
}

div.row {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

div.row:first-of-type {
    margin-top: 40px;
}

.colour-block {
    width: 7em;
    height: 5em;
    background-color: #333;
    color: #eee;
    float: left;
    margin: 3px;
}

.colour-block p {
    text-align: center;
    line-height: 1.4;
}

#text-display {
    font-size: 14px;
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    color: white;
}

#text-display a {
    color: #bbf;
    text-decoration: none;
}
